# DO NOT CHANGE THE CODE BELOW
before_install:
  - git submodule update --init --recursive --remote
  - R -q -e 'if (!requireNamespace("remotes", quietly = TRUE)) install.packages("remotes")'
  - R -q -e 'if (!requireNamespace("curl", quietly = TRUE)) install.packages("curl")'
  - R -q -e 'remotes::install_github("ropenscilabs/tic"); tic::prepare_all_stages(); tic::before_install()'
install: R -q -e 'tic::install()'
after_install: R -q -e 'tic::after_install()'
before_script: R -q -e 'tic::before_script()'
script: R -q -e 'tic::script()'
after_success: R -q -e 'tic::after_success()'
after_failure: R -q -e 'tic::after_failure()'
before_deploy: R -q -e 'tic::before_deploy()'
deploy:
  - ls
  - git submodule update --init --recursive --remote
  - R -q -e 'tic::deploy()'
after_deploy: R -q -e 'tic::after_deploy()'
after_script: R -q -e 'tic::after_script()'
# DO NOT CHANGE THE CODE ABOVE


# Custom parts:

# Header
language: r
sudo: false
dist: xenial
cache: packages
latex: true
pandoc_version: 2.5
# we run our our submodule clone command in the "before_install" stage
# with defaults to the HEAD of the submodule
git:
  submodules: false

env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false
  - MAKEFLAGS="-j 2"
  - BUILD_PKGDOWN=true
  - _R_CHECK_TESTS_NLINES_=0
